* {
    margin: 0 0 0 135px;
    padding: 0;
}

body {
    background-color: #edf7ff;
    font-family: 'Asap', sans-serif;
}

b{
    margin: 0;
    font-family: 'Asap', sans-serif;
}

h1, h2, .subtitulo {
    font-family: 'MuseoModerno';
    color: #0a2ff1;
}

h1.tittle {
    line-height: 8rem;
    font-size: 7.3rem;
}

#secundario {
    font-family: 'MuseoModerno';
    color: #8a9af1;
    font-size: 7.4rem;
    margin: 0;
}

.contenedor-sub{
    margin: 0;
    margin-bottom: 5rem;
}
.subtitulo {
    font-size: 3.25rem;
    font-family: 'Asap', sans-serif;
    margin-bottom: 2rem;
}

p {
    font-size: 2.1rem;
    color: #04146c;
    margin-bottom: 50px;
}

.lista {
    margin-left: 0px;
}

.lista, h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.lista, ul {
    font-size: 2.1rem;
    color: #04146c;
}

li{
    margin-bottom: 20px;
    margin-left: 36px;
}

