* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.principal {
    margin-bottom: 2rem;
}

h1, h2 {
    color: #0a2ff1;
    font-size: 4.9rem;
    text-align:left;
}

mark {
    background-color: #3ffff3;
    color: #0a2ff1;
}

.parrafo {
    margin-top: 4rem;
}

p {
    color: #0a2ff1;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    text-align:left;
    padding: .2rem;
}

#fondo {   
    background-image: url(fondo.JPG);
    margin-top: 1rem;
    width: 400px;
    height: 580px;
}

img {
    width: 400px;
    height: 580px;
}

